{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> I’m a licensed CPA whose only goal is to simplify taxes (ha!) into digestible bites that will allow you to take advantage of the many, many, many available resources that will keep your money where it belongs – in your pocket!</p>
        <a href=# class="btn btn-danger">Learn More</a>
    </div>
</div>
</div>

{% endblock sidebar %}